@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --orange-charte: #D2974E;
  --vert-charte: #529C3D;
  --color-text-gray: #2b2b2b;
  --color-text-white: #eeeeee;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}







/* ///////////////////////////// NAV BAR ///////////////////////////////// */
/* header{
  position: fixed;
} */

.logo {
  position: absolute;
  top: .1rem;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.logo img {
  height: 5rem;
}

.logo h1 {
  margin-left: 2rem;
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Pacifico', cursive;
  color: var(--orange-charte);
}

#navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 140;
  width: 100%;
  /* background-color: #ebebebd3; */
  background: linear-gradient(to right, #fff, rgba(235, 235, 235, 0));
  height: 8rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 55% 70%, 50% 90%, 45% 70%, 0% 70%);
  transition: all 0.4s ease-in-out;
  /* Anim GreenSock */
  opacity: 1;
}




.menu {
  margin-right: 2rem;
}

#navigation a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  line-height: 5.5rem;
  font-family: 'Kaushan Script', cursive;
  /* margin: auto; */
  color: #373737;
}

#navigation a:active {
  color: red;
}




.home-banner {
  /* position: fixed; */
  position: fixed;
  top: 0;
  width: 100%;
  /* filter: opacity(.5); */
  height: 20%;
  z-index: 100;
}

.home{
  position: fixed;
  z-index: 101;
  top: 6rem;
  margin-left: 2rem;
  display: flex;
}
.home h1 {
  font-size: 30px;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #36332f;
  /* font-weight: 100; */
  /* margin-bottom: 250px; */
}
.home img{
  width: 3rem;
}
/* h1 span{
    font-weight: 600; 
 } */

.nav-toggler {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #3c3a3a;
  transition: transform 0.9s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateX(0) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateX(0) rotate(-135deg);
}

/* ****************************** Main ********************** */
main{
    display: flex;
    flex-direction: column;
  
    /* width: 100%; */
}

.presentation{
  display: flex;
  height: 100vh;
  align-items: center;
  margin-top: 80px;
}

.left-about{
    display: flex;
    /* justify-content: center; */
    width: 30%;
    /* height: 100vh; */
}

.left-about img{
    width: 80%;
    /* height: 100vh; */
}

.left-about h2{
    position: absolute;
    /* position: relative; */
    top: 100px;
    text-align: center;
    color: var(--color-text-white);
    font-size: 6rem;
    font-family: 'Handlee', cursive;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 50px;
}

.right-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 70%;
    height: 100vh;
    /* background: #ed8b0b; */
    
    padding: 50px;
    color: var(--color-text-gray)
}

.right-about h2{
    /* position: absolute; */
    /* position: relative; */
    /* top: 200px; */
    text-align: center;
    color: #b56605;
    font-size: 3rem;
    font-family: 'Handlee', cursive;
    /* font-weight: 400; */
    letter-spacing: 4px;
    margin: 3rem 0 3rem 0;
}

.right-about h3{
    /* position: absolute; */
    /* position: relative; */
    /* top: 200px; */
    /* text-align: center; */
    color: #2b2b2b;
    font-size: 1.5rem;
    font-family: 'Handlee', cursive;
    font-weight: 100;
    letter-spacing: 4px;
    margin-top: 10px;
}

.right-about p{
    padding-left: 10px;
}

/* /////////////////////////////////// gallerie /////////////////////////////////////////// */
.gallery {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
}
.gallery::after {
  content:'';
  display:block;
  flex-grow: 10;
}

.gallery h3{
  margin: 130px 0 100px 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Handlee', cursive;
  width: 100%;
  
}

.gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* /////////////////////////////////// fonctionement ////////////////////////////////////// */
.functioning{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-gray);
}

.functioning h3{
  position: absolute;
  top: 120px;
  width: 100%;
  /* transform: translate(100%, -50%); */
  font-size: 2.5rem;
  font-family: 'Handlee', cursive;
  text-align: center;
  
}


.etiquettes{
  margin-top: 80px;
  text-align: center;
  position: absolute;
  top: 150px;
  justify-content:space-between;
  display: flex;

}

.fonc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: #5a5a5a1d;
  border-radius: 9px;
}

.fonc h5{
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-weight: 200;
  text-decoration: underline;
}

.fonc h5 span{
  padding: 5px 10px;
  background: var(--orange-charte);
  border-radius: 50%;
}

.fonc img{
  width: 70px;
  margin-bottom: 20px;
}

.fonc p{
  font-family: 'Roboto', sans-serif;
}
/* ************************ FOOTER ************************** */
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #414141;
  /* text-align: left; */
  font-family: sans-serif;
  /* font-weight: bold; */
  font-size: 16px;
  padding: 50px;
  /* margin-top: 50px; */
  color: #fff;
}

.footer h2 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  /* padding-bottom: 2rem; */
}

.footer h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: underline;

}

/* ************ left */
.footer-logo img {
  height: 5rem;
}

.footer .footer-left {
  width: 33%;
  padding-right: 35px;
}

.footer .about-footer {
  line-height: 20px;
  color: var(--orange-charte);
  font-size: 13px;
  font-weight: normal;
  margin: 1rem 2rem 1rem 0;
}




/* ************ center */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-center {
  width: 30%;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0 0 1rem 1rem;
  font-weight: 100;
}

.footer .footer-center p a{
  color: #0099ff;
  text-decoration: none;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.icon-footer {
  height: 1.5rem;
  margin-top: 1rem;
}

/* ************ right*/

.footer .footer-right {
  width: 23%;
}



.footer .map-menu {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin: 20px 0 12px;
  padding-bottom: 1rem;
}

.footer .map-menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  /* .footer .footer-center i {
    margin-left: 0;
  } */
}

/* *************************************************************************************** */
#welcome{
  margin-bottom: 3rem;
  /* position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%); */
}

#welcome path:nth-child(1){
  stroke-dasharray: 482.7042541503906px;
  stroke-dashoffset: 482.7042541503906px;
  animation: welcome-intro 0.9s ease-in-out forwards, fill 0.5s linear forwards 0.4s;
}

#welcome path:nth-child(2){
  stroke-dasharray: 265.32464599609375px;
  stroke-dashoffset: 265.32464599609375px;
  animation: welcome-intro 0.9s ease-in-out forwards 0.2s, fill 0.5s linear forwards 0.4s;
}

#welcome path:nth-child(3){
  stroke-dasharray: 401.3316955566406px;
  stroke-dashoffset: 401.3316955566406px;
  animation: welcome-intro 0.9s ease-in-out forwards 0.4s, fill 0.5s linear forwards 0.5s;
}

#welcome path:nth-child(4){
  stroke-dasharray: 383.1574401855469px;
  stroke-dashoffset: 383.1574401855469px;
  animation: welcome-intro 0.9s ease-in-out forwards 0.6s, fill 0.5s linear forwards 0.7s;
}

#welcome path:nth-child(5){
  stroke-dasharray: 331.79510498046875px;
  stroke-dashoffset: 331.79510498046875px;
  animation: welcome-intro 0.9s ease-in-out forwards 0.8s, fill 0.5s linear forwards 0.9s;
}

#welcome path:nth-child(6){
  stroke-dasharray: 401.33221435546875px;
  stroke-dashoffset: 401.33221435546875px;
  animation: welcome-intro 0.9s ease-in-out forwards 1s, fill 0.5s linear forwards 1.1s;
}

#welcome path:nth-child(7){
  stroke-dasharray: 383.1593017578125px;
  stroke-dashoffset: 383.1593017578125px;
  animation: welcome-intro 0.9s ease-in-out forwards 1.2s, fill 0.5s linear forwards 1.3s;
}

#welcome path:nth-child(8){
  stroke-dasharray: 383.74627685546875px;
  stroke-dashoffset: 383.74627685546875px;
  animation: welcome-intro 0.9s ease-in-out forwards 0.9s, fill 0.5s linear forwards 1.5s;
}

#welcome path:nth-child(9){
  stroke-dasharray: 401.3328552246094px;
  stroke-dashoffset: 401.3328552246094px;
  animation: welcome-intro 0.9s ease-in-out forwards 1.6s, fill 0.5s linear forwards 1.7s;
}

#welcome path:nth-child(10){
  stroke-dasharray: 337.9510803222656px;
  stroke-dashoffset: 337.9510803222656px;
  animation: welcome-intro 0.9s ease-in-out forwards 1.8s, fill 0.5s linear forwards 1.9s;
}

#welcome path:nth-child(11){
  stroke-dasharray: 430.00323486328125px;
  stroke-dashoffset: 430.00323486328125px;
  animation: welcome-intro 0.9s ease-in-out forwards 2s, fill 0.5s linear forwards 2.1s;
}

#welcome path:nth-child(12){
  stroke-dasharray: 401.3315124511719px;
  stroke-dashoffset: 401.3315124511719px;
  animation: welcome-intro 0.9s ease-in-out forwards 2.2s, fill 0.5s linear forwards 2.3s;
}

#welcome path:nth-child(13){
  stroke-dasharray: 334.97650146484375px;
  stroke-dashoffset: 334.97650146484375px;
  animation: welcome-intro 0.9s ease-in-out forwards 2.4s, fill 0.5s linear forwards 2.5s;
}

/* S */
#welcome path:nth-child(14){
  stroke-dasharray: 431.1163330078125px;
  stroke-dashoffset: 431.1163330078125px;
  animation: welcome-intro 0.9s ease-in-out forwards 2.6s, fill 0.5s linear forwards 6.3s;
}

#welcome path:nth-child(15){
  stroke-dasharray: 401.23583984375px;
  stroke-dashoffset: 401.23583984375px;
  animation: welcome-intro 0.9s ease-in-out forwards 2.8s, fill 0.5s linear forwards 2.9s;
}

#welcome path:nth-child(16){
  stroke-dasharray: 242.7372283935547px;
  stroke-dashoffset: 242.7372283935547px;
  animation: welcome-intro 0.9s ease-in-out forwards 3s, fill 0.5s linear forwards 3.1s;
}

#welcome path:nth-child(17){
  stroke-dasharray: 401.23663330078125px;
  stroke-dashoffset: 401.23663330078125px;
  animation: welcome-intro 0.9s ease-in-out forwards 3.2s, fill 0.5s linear forwards 3.3s;
}

#welcome path:nth-child(18){
  stroke-dasharray: 430.00250244140625px;
  stroke-dashoffset: 430.00250244140625px;
  animation: welcome-intro 0.9s ease-in-out forwards 3.4s, fill 0.5s linear forwards 3.5s;
}

#welcome path:nth-child(19){
  stroke-dasharray: 401.33251953125px;
  stroke-dashoffset: 401.33251953125px;
  animation: welcome-intro 0.9s ease-in-out forwards 3.6s, fill 0.5s linear forwards 3.7s;
}

#welcome path:nth-child(20){
  stroke-dasharray: 284.8402099609375px;
  stroke-dashoffset: 284.8402099609375px;
  animation: welcome-intro 0.9s ease-in-out forwards 3.8s, fill 0.5s linear forwards 3.9s;
}

/* M */
#welcome path:nth-child(21){
  stroke-dasharray: 649.9846801757812px;
  stroke-dashoffset: 649.9846801757812px;
  animation: welcome-intro 0.9s ease-in-out forwards 4s, fill 0.5s linear forwards 6.5s;
}

#welcome path:nth-child(22){
  stroke-dasharray: 401.2369384765625px;
  stroke-dashoffset: 401.2369384765625px;
  animation: welcome-intro 0.9s ease-in-out forwards 4.2s, fill 0.5s linear forwards 4.3s;
}

#welcome path:nth-child(23){
  stroke-dasharray: 284.83837890625px;
  stroke-dashoffset: 284.83837890625px;
  animation: welcome-intro 0.9s ease-in-out forwards 4.4s, fill 0.5s linear forwards 4.5s;
}

#welcome path:nth-child(24){
  stroke-dasharray: 430.0031433105469px;
  stroke-dashoffset: 430.0031433105469px;
  animation: welcome-intro 0.9s ease-in-out forwards 4.6s, fill 0.5s linear forwards 4.7s;
}

#welcome path:nth-child(25){
  stroke-dasharray: 265.33148193359375px;
  stroke-dashoffset: 265.33148193359375px;
  animation: welcome-intro 0.9s ease-in-out forwards 4.8s, fill 0.5s linear forwards 4.9s;
}

#welcome path:nth-child(26){
  stroke-dasharray: 401.33734130859375px;
  stroke-dashoffset: 401.33734130859375px;
  animation: welcome-intro 0.9s ease-in-out forwards 5s, fill 0.5s linear forwards 5.1s;
}

#welcome path:nth-child(27){
  stroke-dasharray: 383.7529296875px;
  stroke-dashoffset: 383.7529296875px;
  animation: welcome-intro 0.9s ease-in-out forwards 5.2s, fill 0.5s linear forwards 5.3s;
}

@keyframes welcome-intro{
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes fill{
  from{
    fill: transparent;
  }to{
    fill: var(--orange-charte);
  }
}



/* ************************* gallerie abeille */
.gallerie h3{
  margin: 130px 0 100px 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Handlee', cursive;
  width: 100%;
  
}
.honeycomb {
	max-width: 1000px;
	margin: 70px auto;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding-bottom: 5.5%;
}

.honeycomb li {
	width: 25%;
	position: relative;
	visibility: hidden;
}

.honeycomb li:after {
	content: '';
	display: block;
	padding-bottom: 86.6%;
}

.honeycomb li:nth-child(7n+5) {
	margin-left: 12.5%;
}

.cell {
	position: absolute;
	width: 96%;
	margin: 0 2%;
	padding-bottom: 110.85%;
	transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
	overflow: hidden;
}

.cell * {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: visible;
}

.honeycomb li a {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	overflow: hidden;
}

.honeycomb li img {
	left: -100%;
	right: -100%;
	width: auto;
	height: 100%;
	margin: 0 auto;
	transform: rotate3d(0, 0, 0, 0deg);
}

.honeycomb li .title,
.honeycomb li .text {
	width: 100%;
	padding: 5%;
	display: block;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	transition: transform .2s ease-out, opacity .3s ease-out;
}

.honeycomb li .title {
	bottom: 50%;
	padding-top: 50%;
	font-size: 1.5em;
	z-index: 1;
	transform: translate3d(0, -100%, 0);
}

.honeycomb li .title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 45%;
	width: 10%;
	border-bottom: 1px solid #fff;
}

.honeycomb li .text {
	top: 50%;
	padding-bottom: 50%;
	transform: translate3d(0, 100%, 0);
}

.honeycomb li a:hover .title,
.honeycomb li a:focus .title,
.honeycomb li a:hover .text,
.honeycomb li a:focus .text {
	transform: translate3d(0, 0, 0);
}